#margin{
    margin: 0px;
}

.menuhorizontal_2{
    background-color:#3CB944 ;
    margin-left: -15px;
    margin-right: -15px;

}

/*Menus*/
#menuhorizontal_1{
    margin-left: 50px; 
    size: 5px;
}
#menuhorizontal_bg{
    background-color: #ffffff;

}
#displaytable{
    display: table;
}

/*Menu Horizontal 2*/
.menuhorizontal_2{
    background-color:#3CB944 ;
    margin-left: -15px;
    margin-right: -15px;

}

#menu-horizontal{
    margin:0px;
}
#menu-horizontal ul {
    list-style-type: none;
    padding: 6px;
    text-align: center;

}

#menu-horizontal ul li{
    display: inline;

}
#menu-horizontal li a:link,
#menu-horizontal li a:visited{
    text-decoration: none;
    color: #FFFFFF;
    padding: 5px 10px;
    /*Apresentar os links como uma caixa em linha e nÃ£o como texto*/
    display: inline-block;
}
#menu-horizontal li a:hover{
    background-color: #419346;
}



/*-----------*/
/*banner*/

#bannermargin{
    margin-top: 0px;

}

/*-----------*/

#rodapé{
    background-color: gray;
    margin-left: 1px;
    text-align: center;


}


